<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="8ebf60">  <td>20/06/18 08:11:10</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Base.setUp()[pri:0, instance:poi_operations.Read_Operatrion@14ec4505]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@2025269734</td>   <td></td> </tr>
<tr bgcolor="8ebf60">  <td>20/06/18 08:11:21</td>   <td>11436</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Base.tearDown()[pri:0, instance:poi_operations.Read_Operatrion@14ec4505]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@2025269734</td>   <td></td> </tr>
<tr bgcolor="66a265">  <td>20/06/18 08:11:20</td>   <td>9968</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Read_Operatrion.testLogin()[pri:0, instance:poi_operations.Read_Operatrion@14ec4505]">testLogin</td> 
  <td>main@2025269734</td>   <td></td> </tr>
</table>
