<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>testng_demo.Group_Test</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>a1</td>
<td>High </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>a2</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>a3</td>
<td>High </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>a4</td>
<td>Medium </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>a5</td>
<td>High </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>a6</td>
<td>Medium </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>a7</td>
<td>Low </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
