<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>High</td><td>Group_Test.a3()[pri:0, instance:testng_demo.Group_Test@2b546384]<br/>Group_Test.a5()[pri:0, instance:testng_demo.Group_Test@2b546384]<br/>Group_Test.a1()[pri:0, instance:testng_demo.Group_Test@2b546384]<br/></td></tr>
<tr><td>Low</td><td>Group_Test.a7()[pri:0, instance:testng_demo.Group_Test@2b546384]<br/></td></tr>
</table>
