<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>SeleniumBatch48 by groups</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="68b9a4">  <td>20/06/08 08:59:04</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Group_Test.a1()[pri:0, instance:testng_demo.Group_Test@2b546384]">a1</td> 
  <td>main@182259421</td>   <td></td> </tr>
<tr bgcolor="68b9a4">  <td>20/06/08 08:59:05</td>   <td>27</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Group_Test.a3()[pri:0, instance:testng_demo.Group_Test@2b546384]">a3</td> 
  <td>main@182259421</td>   <td></td> </tr>
<tr bgcolor="68b9a4">  <td>20/06/08 08:59:05</td>   <td>40</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Group_Test.a5()[pri:0, instance:testng_demo.Group_Test@2b546384]">a5</td> 
  <td>main@182259421</td>   <td></td> </tr>
<tr bgcolor="68b9a4">  <td>20/06/08 08:59:05</td>   <td>47</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Group_Test.a7()[pri:0, instance:testng_demo.Group_Test@2b546384]">a7</td> 
  <td>main@182259421</td>   <td></td> </tr>
</table>
