<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="828a6f">  <td>20/06/10 07:58:26</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Register.register()[pri:0, instance:suites_demo.Register@5c0369c4]">register</td> 
  <td>TestNG@169094752</td>   <td></td> </tr>
<tr bgcolor="b8f8f4">  <td>20/06/10 07:58:02</td>   <td>-23215</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Base.setUp(java.lang.String)[pri:0, instance:suites_demo.Sign_On@763d9750]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>TestNG@169094752</td>   <td></td> </tr>
<tr bgcolor="b8f8f4">  <td>20/06/10 07:58:19</td>   <td>-6448</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Base.setUp(java.lang.String)[pri:0, instance:suites_demo.Register@5c0369c4]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>TestNG@169094752</td>   <td></td> </tr>
<tr bgcolor="b8f8f4">  <td>20/06/10 07:58:30</td>   <td>4850</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Base.setUp(java.lang.String)[pri:0, instance:suites_demo.Support@2be94b0f]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>TestNG@169094752</td>   <td></td> </tr>
<tr bgcolor="86b085">  <td>20/06/10 07:58:15</td>   <td>-11101</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Sign_On.signOn()[pri:0, instance:suites_demo.Sign_On@763d9750]">signOn</td> 
  <td>TestNG@169094752</td>   <td></td> </tr>
<tr bgcolor="bfe896">  <td>20/06/10 07:58:38</td>   <td>12725</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Support.support()[pri:0, instance:suites_demo.Support@2be94b0f]">support</td> 
  <td>TestNG@169094752</td>   <td></td> </tr>
<tr bgcolor="b8f8f4">  <td>20/06/10 07:58:18</td>   <td>-7199</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Base.tearDown()[pri:0, instance:suites_demo.Sign_On@763d9750]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG@169094752</td>   <td></td> </tr>
<tr bgcolor="b8f8f4">  <td>20/06/10 07:58:30</td>   <td>4158</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Base.tearDown()[pri:0, instance:suites_demo.Register@5c0369c4]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG@169094752</td>   <td></td> </tr>
<tr bgcolor="b8f8f4">  <td>20/06/10 07:58:45</td>   <td>19589</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Base.tearDown()[pri:0, instance:suites_demo.Support@2be94b0f]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>TestNG@169094752</td>   <td></td> </tr>
</table>
